<style>
  h2 {
    margin-bottom: 0.5rem;
  }

  ul.experiences {
    padding: unset;
  }

  ul.experiences li {
    display: block;
  }

  .work-experience {
    margin: 0 0 1.5rem 0;
  }

  .work-experience h3 {
    margin: 0;
    color: #866ac7;
  }

  .work-experience ul {
    padding-left: 1.5rem;
  }

  .work-experience ul li {
    display: list-item;
  }

  .work-callout {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5rem;
  }
</style>
